body {
    margin: 0;
    padding: 0;
  }
  h1{
      font-family: trebuchet MS;
  
      background-color: goldenrod;
      font-size: 40px;
      padding-bottom: 10px;
      border-color: red;
      border-radius: 100%;
  }
  header { 
    background: url(https://sep.yimg.com/ay/scrapyourtrip/movie-clap-and-curved-flimstrip-border-laser-die-cut-46.jpg) 610px;
    margin: 0 auto;
    height: 190px;
    text-align: center;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.card {
    font-family: 'Trebuchet MS';
    text-align: center;
    background-color: #eeeeee;
    height: 475px;
    width: 325px;
    box-shadow: 10px 10px black;
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: 1.2em;
    color: #fff;
    background-color: goldenrod;
    border-radius: 10px;
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  